.modal {
    font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, helvetica neue, helvetica, ubuntu, roboto, noto, segoe ui, arial, sans-serif;
}

.modal__overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal__container {
    background-color: #fff;
    max-width: 500px;
    max-height: 100vh;
    border-radius: 4px;
    overflow-y: auto;
    box-sizing: border-box;
}

.modal__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    background: #ef4036;
    height: 100px;
}

.modal__title {
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 600;
    font-size: 2.25rem;
    line-height: 1.25;
    color: #ffffff;
    text-shadow: #000 0 0 5px;
    box-sizing: border-box;
}

.modal__close {
    background: #888484;
    border: 0;
    padding: 10px;
    border-radius: 6px;
    color: #fff;
}

.modal__header .modal__close:before {
    content: "\2715";
}

.modal__content {
    margin-top: 2rem;
    margin-bottom: 2rem;
    line-height: 1.5;
    color: rgba(0, 0, 0, .8);
    display: flex;
}

.modal__content div {
    width: 100%;
}

.modal__content .imageAndTable {
    display: flex;
}

.pokemonImage {
    display: flex;
    justify-content: center;
    align-items: center;
}

.imagePokemon {
    width: 150px;
    height: 150px;
}

table {
    min-width: 500px;
    border-collapse: collapse;
    border-spacing: 2px;
    border-radius: 20px;
    overflow: hidden;
}

thead {
    background: #ef4036;
}

thead tr th {
    padding: 10px;
}

tbody {
    background: #c7c7c7;
}

tbody tr {}

tbody tr td {
    text-align: center;
    padding: 10px 0;
}

.td_properties {
    text-transform: capitalize;
    font-weight: 600;
}

.tableDataPokemon {
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal__btn {
    height: 60px;
    height: 60px;
    width: 100%;
    font-size: .875rem;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: .5rem;
    padding-bottom: .5rem;
    background-color: #ef4036;
    color: rgba(0, 0, 0, .8);
    border-radius: .25rem;
    border-style: none;
    border-width: 0;
    cursor: pointer;
    -webkit-appearance: button;
    text-transform: none;
    overflow: visible;
    line-height: 1.15;
    margin: 0;
    will-change: transform;
    -moz-osx-font-smoothing: grayscale;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    transition: -webkit-transform .25s ease-out;
    transition: transform .25s ease-out;
    transition: transform .25s ease-out, -webkit-transform .25s ease-out;
}

.modal__btn:focus,
.modal__btn:hover {
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
}

.modal__btn-primary {
    background-color: #00449e;
    color: #fff;
}

.background {
    background: #e6e6e6;
}

.modal__footer {
    min-height: 50vh;
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding: 60px;
    box-sizing: border-box;
}

.modal__footer div {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #f7f7f7;
    border: 1px solid;
    border-radius: 24px;
    overflow: hidden;
}

#prev+#next {
    margin: 0 20px;
}

.modal__type {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: row;
    padding: 10px 40px;
}

.modal__type__title {
    text-transform: capitalize;
    font-weight: 600;
    box-shadow: #000 0px -2px 5px 1px;
    height: 30px;
    background: #ef4036;
}

.modal__type>div {
    min-height: 179px;
    background: #c7c7c7;
    overflow: hidden;
    border-radius: 20px;
    margin: 10px 10px;
    flex: 1;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.type>div>span {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #922020;
    width: 100px;
    padding: 15px;
    margin: 10px;
    border-radius: 12px;
    font-weight: 700;
}

.type>div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: 44px;
}

.weaknesses>div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: 44px;
}

.weaknesses>div>span {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #922020;
    width: 100px;
    padding: 15px;
    margin: 10px;
    border-radius: 12px;
    font-weight: 700;
}


/**************************\
    Demo Animation Style
  \**************************/

@keyframes mmfadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes mmfadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

@keyframes mmslideIn {
    from {
        transform: translateY(15%);
    }
    to {
        transform: translateY(0);
    }
}

@keyframes mmslideOut {
    from {
        transform: translateY(0);
    }
    to {
        transform: translateY(-10%);
    }
}

.micromodal-slide {
    display: none;
}

.micromodal-slide.is-open {
    display: block;
}

.micromodal-slide[aria-hidden="false"] .modal__overlay {
    animation: mmfadeIn .3s cubic-bezier(0.0, 0.0, 0.2, 1);
}

.micromodal-slide[aria-hidden="false"] .modal__container {
    animation: mmslideIn .3s cubic-bezier(0, 0, .2, 1);
    min-width: 80vw;
    min-height: 80vh;
    border-radius: 13px;
    border: #000 1px solid;
}

.micromodal-slide[aria-hidden="true"] .modal__overlay {
    animation: mmfadeOut .3s cubic-bezier(0.0, 0.0, 0.2, 1);
}

.micromodal-slide[aria-hidden="true"] .modal__container {
    animation: mmslideOut .3s cubic-bezier(0, 0, .2, 1);
}

.micromodal-slide .modal__container,
.micromodal-slide .modal__overlay {
    will-change: transform;
}

@media screen and (max-width: 992px) {
    body {
        background-color: blue;
    }
}


/* On screens that are 600px or less, set the background color to olive */

@media screen and (max-width: 600px) {
    .modal__title {
        font-size: 1.25rem;
    }
    .modal__content .imageAndTable {
        display: flex;
        flex-direction: column;
    }
    .modal__content div {
        width: 100vw;
    }
    table {
        border-collapse: collapse;
        border-spacing: 2px;
        overflow: hidden;
        min-width: 100vw;
        box-sizing: border-box;
    }
    .modal__type {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 0px;
        align-items: center;
    }
    .modal__type>div {
        max-width: 100vw;
        min-height: 179px;
        background: #c7c7c7;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }
    .modal__footer {
        align-items: center;
        min-height: 50vh;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 60px;
        box-sizing: border-box;
    }
    .modal__footer div {
        min-width: 80vw;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background: #f7f7f7;
        border: 1px solid;
        border-radius: 24px;
        overflow: hidden;
        margin-bottom: 20px;
    }
}